#questions {
    text-align: center;
    max-width: 500px;
    background-color: #7beaf1;
    border-radius: 1rem;
    padding: 2rem;
}

#questions h2 {
    margin-bottom: 2rem;
}

#questions p {
    margin-bottom: 1rem;
    color: #1a6e55;
}

#questions button {
    border: 2px solid ;
}
